/* Sticky footer styles
-------------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }
  
  #loginalert {
    display: none;
  }

  #signupalert {
    display: none;
  }

.mainContainer {
  padding:60px;
}

.time {
  color:darkgray;
  margin-left: 20px;
  float: right;
  
  
}

.artworkName {
  margin-top: 20px;
  font-size: large;
  
}

#recArtwork {
  border:1px solid grey;
  border-radius: 5px;
}

#whatis {
  padding-right: 150px;
  padding-top: 20px;
  font-size: 20px;
}

#startexp {

  text-align: center;
  padding-top: 50px;
  
}
#startexp2 {

  text-align: center;
  padding-top: 20px;
  
}

#opere {
  padding-top:20px;
}

.centertext {
    width: 900px;
    margin: 200px auto;
}

.centertext h1 {
    text-align: center;
    font-size: 80px;
    color: #000;
    font-weight: bold;
    animation: textanimation 2s ease-in-out;
}

@keyframes textanimation {
    0% {
        letter-spacing: 20px;
    }
    100% {
        letter-spacing: 1px;
    }
}

.centertext p {
    text-align: center;
    font-size: 30px;
    color: #c20000;
    font-weight: bold;
    animation: textanimation2 1.5s ease-in-out;
}

@keyframes textanimation2 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

#comments {
  margin-top:30px;
}

#comment {
  border:1.5px solid grey;
  padding:10px;
  margin-top:10px;
}

#textofcomment{
  text-align: center;
  margin-top:15px;
}

#infoart {
  margin-top:30px;
  border-left:1px solid grey;
   
}

#description {
  margin-top:20px;
  border-top:1px solid grey;
  padding:20px;
}

.checked {
  color: orange;
}

#ratestar {
  float:right;
}